@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.videoInfo {
    padding: 1rem;
    @include tablet {
        padding: 0 2.25rem;
    }

    &__title-container {
        text-align: left;
        padding: 1rem 0;
        border-bottom: solid 2px $secondary-silver;

        @include tablet {
            border-bottom: unset;
            padding: 1rem 0 0.5rem 0;
        }
    }

    &__title {
        @include mobile-page-header;
        @include tablet {
            @include desktop-tablet-header;
        }
    }

    &__stats-container {
        border-bottom: solid 2px $secondary-silver;
        padding: 1rem 0;
        display: flex;
        @include tablet {
            justify-content: space-between;
            padding: 0.5rem 0 0.5rem 0;
        }
    }

    &__byDate-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-grow: 1;
        text-align: left;
        @include tablet {
            padding: unset;
            flex-direction: row;
            align-items: center;
        }
    }
    &__channel {
        @include mobile-subheader;
        width: 50%;
        margin: 0.5rem 0;
        @include tablet {
            width: unset;
            margin: unset;
            margin-right: 1rem;
            @include desktop-tablet-subheader;
        }
    }

    &__date {
        @include mobile-body-copy;
        @include tablet {
            @include desktop-tablet-body-copy;
        }
    }

    &__channel-views {
        @include mobile-body-copy;
        width: 50%;
        color: $primary-silver;
        margin: 0.5rem 0;
        @include tablet {
            width: unset;
            margin-right: 1rem;
            @include desktop-tablet-body-copy;
        }
    }

    &__channel-views-icon {
        margin-right: 0.5rem;
    }

    &__viewsLikes-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        flex-grow: 1;
        color: $primary-silver;
        @include tablet {
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }
    }

    &__views-container {
        display: flex;
    }

    &__likes-container {
        display: flex;
    }

    &__date {
        @include mobile-body-copy;
        width: 50%;
        color: $primary-silver;
        @include tablet {
            width: unset;
            @include desktop-tablet-body-copy;
        }
    }

    &__likes {
        @include mobile-body-copy;
        width: 50%;
        @include tablet {
            width: unset;
        }
    }

    &__likes-icon {
        margin-right: 0.5rem;
    }

    &__description-container {
        padding: 1rem 0;
        text-align: left;
        @include tablet {
            padding: 1rem 0 0.5rem 0;
        }
    }
}
