@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.main {
    &__container {
        @include desktop {
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            padding: 0 10%;
        }
    }

    &__content {
        @include desktop {
            width: 70%;
        }
    }

    &__next-videos {
        @include desktop {
            width: 30%;
        }
    }
}
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 5rem;
    height: 5rem;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 2rem solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
