@use '../../styles/partials/mixins' as *;

.videoHero{
    background-color: black;
    width: 100%;

    &__container{
        @include desktop{
            padding: 0 10%;
        }
    }

    &__video{
        max-width: 100%;
        aspect-ratio: 16/9;
        @include tablet{
            width: 90%;
        }
        @include desktop{
            margin: auto;
            width: 80%;
            height: 100%;
        }
    }
    
}

