@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/globals' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.navBar{
    padding: 1rem;
    @include desktop{
        margin: auto;
    }
    

    &__logo-container{
        padding: 1rem;
    }
    &__logo{
        max-height: 1.5625rem;
        max-width: 7.5rem;
    }

    &__content{
        display: flex;
        flex-direction: column;
        @include tablet{
            flex-direction: row;
        }
    }

    &__functions{
        padding: 1rem;
    }

    &__functions{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1rem 0;

        @include tablet{
            justify-content: space-evenly;
            align-items: center;
            padding: 1rem;
        }
    }
    
    &__functions-search{
        width: 85%;
        margin-right: 5%;
        @include tablet{
            height: 2.25rem;
            width: 35%;
        }  
    }
    
    &__functions-avatar-1{
        width: 15%;
        position: relative;
        border-radius: 50%;
        max-width: 2.25rem;
        max-height: 2.25rem;
        @include tablet{
            display: none;
        }
    }
    &__functions-button{
        @include mobile-labels-buttons;
        color: $primary-white;
        background-color: $primary-blue;
        border-radius: .25rem;
        height: 2.5rem;
        width: 100%;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        &:hover{
            background-color: $secondary-blue;
        }

        @include tablet{
            width: 25%;
        }
    }

    &__functions-upload{
        margin-left: 37%;
        @include tablet{
            margin-left: 23%;
        }
        
    }

    &__functions-upload-image{
        width: .75rem;
        height: .75rem;
        
        }
    
    &__functions-avatar-2{
        display: none;
        @include tablet{
            display: unset;
            border-radius: 50%;
            max-width: 2.5rem;
            max-height: 2.25rem;
            margin: .5rem;
        }

    }
}