@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments {
    text-align: left;
    padding: 0 1rem 1rem 1rem;
    @include tablet {
        padding: 2.25rem;
    }

    &__header {
        @include mobile-section-header;
        margin: 1rem 0;
    }

    &__container {
        display: flex;
        @include tablet{
            border-bottom: solid 1px $secondary-silver;
        }
    }

    &__image-container {
        margin-top: 1rem;
    }

    &__image-photo {
        max-width: 2.25rem;
        max-height: 2.25rem;
        border-radius: 50%;
        @include tablet {
            max-width: 3rem;
            max-height: 3rem;
        }
    }

    &__container-form {
        display: flex;
        flex-direction: column;
        color: $primary-silver;
        flex-grow: 1;
        padding: 0.75rem;
        
    }

    &__form{
        @include tablet{
            display: flex;
            justify-content: space-between;
            align-items: end;
        }
    }

    &__comment-label {
        @include mobile-subheader;
    }

    &__comment-label-input {
        width: 100%;
        border: solid 1px $secondary-silver;
        background-color: $secondary-white;
        border-radius: 0.25rem;
        padding: 1rem;
        @include tablet{
            padding: .65rem 1rem;
        }

    }

    &__button {
        @include mobile-labels-buttons;
        color: $primary-white;
        background-color: $primary-blue;
        border-radius: 0.25rem;
        border: none;
        height: 2.5rem;
        width: 100%;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        margin-top: 1rem;
        &:hover {
            background-color: $secondary-blue;
        }

        @include tablet {
            margin: 0 1rem;
            max-width: 30%;
        }

        @include desktop {
            width: 9.375rem;
        }
    }

    &__button-comment {
        flex-grow: 1;
    }

    &__card {
        display: flex;
        margin: 1rem 0 1rem 0;
        border-bottom: solid 1px $secondary-silver;

        @include tablet {
            
        }

        @include desktop {
            width: 50%;
            margin: 2% auto 2% auto;
        }
    }

    &__card-image {
        background-color: $secondary-silver;
        max-width: 2.25rem;
        max-height: 2.25rem;
        border-radius: 50%;
        width: 10%;
        padding: 1rem;

        @include tablet {
            max-width: 3rem;
            max-height: 3rem;
            width: 7%;
        }
    }

    &__card-data {
        width: 90%;
        padding: 0 1rem 1rem 1rem;

    }

    &__card-name-date-container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1%;
    }

    &__card-name {
        @include mobile-subheader;
    }

    &__card-date {
        color: $primary-silver;
    }

    &__card-review{
        @include mobile-body-copy;
    }
}
